#include <cstdlib>
#include <crt_config.h>

#ifdef __cplusplus
extern "C" {
#endif

    void *TVMSystemLibEntryPoint(void) {
        return NULL;
    }

#if TVM_CRT_DEBUG > 0
#include <cstdio>
#include <cstdarg>
#include <cstring>
    void TVMLogf(const char* fmt, ...) {
        int len = strlen(fmt);
        va_list va;
        va_start(va, fmt);
        (void)vfprintf(stderr, fmt, va);
        va_end(va);
        if (len > 0 && fmt[len-1] != '\n') {
            (void)fprintf(stderr, "\n");
        }

    }
#else
    void TVMLogf(const char* fmt, ...) {
    }
#endif

#ifdef __cplusplus
} // extern "C"
#endif
