#include <cstdlib>
#include <cassert>

#include <ndutils.h>
#include <compute.h>

// Max number of outputs+inputs
#define MAX_INOUTS 10

// Initialized tensors, NULL terminated
static void *model_args[MAX_INOUTS+1];
static int model_types[MAX_INOUTS+1];

void model_init(void) {
    void *tensor;
    assert({{inouts|length}} <= MAX_INOUTS);
{% for idx in range(inouts|length) %}
    tensor = ND_Zero(
        NDTYPE_{{inouts[idx].dtype}},
        {{inouts[idx].shape|length}},
        {% for dim in inouts[idx].shape %}{{dim}},{% endfor %}
        0/*unused*/
        );
    model_args[{{idx}}] = tensor;
    model_types[{{idx}}] = ND_TVMType;
{% endfor %}
}

void model_fini(void) {
    for (int i = 0; i < {{inouts|length}}; i++) {
        ND_Release(model_args[i]);
        model_args[i] = NULL;
        model_types[i] = 0;
    }
}

extern "C" int32_t COMPUTE_NAME(void* args, int* arg_type_ids, int num_args, void* out_ret_value, int* out_ret_tcode, void* resource_handle);

void model_forward() {
    COMPUTE_NAME(model_args, model_types, {{inouts|length}}, NULL, NULL, NULL);
}
